---
layout: default
---

<div class="section section-components pb-0" id="section-components">
  <div class="container">

    <div class="row justify-content-center">
      <div class="col-lg-12">
        <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
        <p class="post-meta">
        <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          {{ page.date | date: date_format }}
        </time>
        {%- if page.author -%}
          • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
        {%- endif -%}</p>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-12">
        {{ content }}
      </div>
    </div>

    {%- if site.disqus.shortname -%}
    <div class="row justify-content-center">
      <div class="col-lg-12">
        {%- include disqus_comments.html -%}
      </div>
    </div>
    {%- endif -%}

  </div>
</div>
